.img{
    position: relative;
    width: 100%;
    height: auto;
}
.img > img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.info-baner{
    top: 0;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.content-banner{
    padding: 60px 0;
}   
.info-baner > div >b{
    font-size: 360%;
}
.info-baner > div > a {
    background-color: #ef8b59;
    color: white;
    text-align: center;
    font-size: 17px;
    border-radius: 16px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 9px 40px;
    margin: auto;
}

