.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}

.col-1{
    background-color: #ef8b59;
    width: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.top-bar__category{
    text-align: center;

    margin: 29px 0;
}
.top-bar__category > a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.top-bar__category > a > .content{
    margin: 0 47px;
    font-size: medium;
}  
.col-2{
    text-align: center;
}
.col-3{
 
}
.home > a {
    color: #ef8b59 !important;
}

.top-bar__list-menu{
    display: flex;
    margin: auto;
    list-style-type: none;
}
.top-bar__list-menu > li {
    padding: 0 15px;
}
.top-bar__list-menu > li > a{
    text-decoration: none;
    color: black;
}


.top-bar__list-user{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.top-bar__list-user > li {
    list-style-type: none;
    margin-left: 2rem;

}
.top-bar__list-user > li > a {
    color: black;
}

