.top-bar{
    background-color: f9f9f9;

}

.container{
    margin: 0 222px;
}
.row{
    display: flex;
    justify-content: flex-start
}

.col-1{
    background-color: #ef8b59;
    width: 274px;
    height: 79px;
}
.top-bar__category{
    text-align: center;
    color: white;
    margin: 29px 0;
}

.top-bar__category > .content{
    margin: 0 47px;
    font-size: medium;
}  


.col-2{
    flex-basis: 795px;
    line-height: 50px;
    height: 79px;
}
.col-3{
    display: flex;
}
.home{
    color: #ef8b59;
}

.top-bar__list-menu{
    display: flex;
    margin: 0 80px;
    height: 79px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.top-bar__list-menu > li > a{
    text-decoration: none;
    color: black;
}


.top-bar__list-user{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.top-bar__list-user > li {
    margin-right: 2rem;

}
.top-bar__list-user > li > a {
    color: black;
}
