.show-imgs  {
    background-color: #f9f3eb;
    width: 100%;
    padding: 5% 0;
}
.display {
    width: 100%;
    display: flex;
}
.img-column-1 {
    width: 49%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1%;
    align-items: center;
    align-content: stretch;
}
.img-column-2 {
    width: 49%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1%;
    justify-content: space-between;
}
.img-show-1 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2%;
}
.img-show-6 {
    width: 100%;
    max-width: 100%;
    margin-top: 2%;
}

