.top-product {
    width: auto;
    box-sizing: border-box;
}
.title{
    width:auto;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
}

.title > h3{
    line-height: 50px;
    font-weight: bold;
    font-size: x-large;
}
.title > p{
    line-height: 25px;
    color: #d4d4d4;
}
.title > hr{
    width: 60px;
    color: black;
}
.info-product{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 265px;
    height: 360px;
}
.product > a{
    text-decoration: none;
}
.description{
    padding: 17px;
}
.vote{
    color: #a3a3a3;
}
.description > p {
    padding:15px 0 ;
    color: black;
}
.description > u {
    font-size: small;
    color: #b8b8b8;
}
.description > i {
    padding: 0 10px;
    color: #ef8b59;
}
.img-product{
    position: relative;
}
.img-product > b{
    position: absolute;
    top: 0;
    right:0;
    margin: 5px;
    background-color: #ef8b59;
    color: white;
    font-size: 15px;
    padding: 6px 12px;
}